@import "tailwindcss";

@theme {
  --color-primary: #B7BD8F;
  --font-sans: 'Noto Sans JP', sans-serif;
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
  line-height: 1.5;
  height: 100%;
}
